
html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td, table th
{
    padding: 1em; /* 'cellpadding' equivalent */
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
}

body {
  padding-top: 80px;
  margin-top: 80px;
  background-color: #ecedef;
}

span.btn {
  padding: 1em;
}

div.card {
  background-color: #eee;
  border: 2px solid grey;
  padding: 2em;
}

div.minorcard {
  background-color: #ddd;
  border: 2px solid grey;
  padding: 2em;
  margin: 2em;
}

div.minorcard textarea {
  background-color: #eee;
}

div.minorcard select {
  background-color: #eee;
}

div.minorcard input {
  background-color: #eee;
}

div.card textarea {
  background-color: #eee;
}

div.card select {
  background-color: #eee;
}

div.card input {
  background-color: #eee;
}

h2 {
  font-weight: bold;
}

.topStyle { backgroundColor: '#EEE'; border: 'solid 1px black'; }
.boldStyle = { fontWeight: 'bold'; }
.italicStyle = { fontStyle : 'italic'; }
