
html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
}

body {
  padding-top: 70px;
}

span.btn {
  padding: 1em;
}
