<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="max-age=21600">
    <meta keywords="surveys">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,900,100,300,700italic" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title><%=htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="modern-browser survey-body translate">

    <div id="root" class="container">
      <div data-reactid=".0"><nav class="navbar navbar-default navbar-fixed-top" data-reactid=".0.0"><div class="container" data-reactid=".0.0.0"><div class="navbar-header" data-reactid=".0.0.0.0"><button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" data-reactid=".0.0.0.0.0"><span class="sr-only" data-reactid=".0.0.0.0.0.0">Toggle navigation</span><span class="icon-bar" data-reactid=".0.0.0.0.0.1"></span><span class="icon-bar" data-reactid=".0.0.0.0.0.2"></span><span class="icon-bar" data-reactid=".0.0.0.0.0.3"></span></button><a href="/surveys" data-reactid=".0.0.0.0.1"><img src="/img/leye-logo-white.png" data-reactid=".0.0.0.0.1.0"></a></div><ul class="nav navbar-nav navbar-right" data-reactid=".0.0.0.1"><li data-reactid=".0.0.0.1.0"><a class="glyphicon glyphicon-log-in" href="/login" data-reactid=".0.0.0.1.0.1"> Admin </a></li></ul></div></nav><div data-reactid=".0.1"><br data-reactid=".0.1.0"><br data-reactid=".0.1.1"></div><div data-reactid=".0.2"><br data-reactid=".0.2.0"><div data-reactid=".0.2.2"><div data-reactid=".0.2.2.0"><header class="hero-section container {styles.topStyle}" data-reactid=".0.2.2.0.0"><div class="row" data-reactid=".0.2.2.0.0.0"><div class="col-md-12" data-reactid=".0.2.2.0.0.0.0"><h2 data-reactid=".0.2.2.0.0.0.0.0">EMPLOYEE SUREY FOR LEYE EMPLOYEES / ENCUESTA PARA EMPLEADOS LEYE</h2><br data-reactid=".0.2.2.0.0.0.0.1"><br data-reactid=".0.2.2.0.0.0.0.2"><div style="white-space:pre-line;" data-reactid=".0.2.2.0.0.0.0.3">Please take a moment to fill this out. Your feedback is important to us. We welcome both positive feedback and areas where we can improve. Your response to this survey will be kept anonymous and confidential.

Por favor, tome un momento para liener este documento. Su opinion es importante para nosotros. Queremos saber donde estamon bien y done podemos mejorar. La participacion en esta encuesta es anonima y confidential.</div><div data-reactid=".0.2.2.0.0.0.0.4"><br data-reactid=".0.2.2.0.0.0.0.4.0"></div></div></div><hr data-reactid=".0.2.2.0.0.1"><br data-reactid=".0.2.2.0.0.2"></header><div class="container" data-reactid=".0.2.2.0.1"><div class="row" data-reactid=".0.2.2.0.1.0"><div class="col-md-12 text-center" data-reactid=".0.2.2.0.1.0.0"><div data-reactid=".0.2.2.0.1.0.0.0"><button class="btn btn-primary btn-lg" data-reactid=".0.2.2.0.1.0.0.0.0"> English </button><span data-reactid=".0.2.2.0.1.0.0.0.1">&nbsp; &nbsp; &nbsp;</span><button class="btn btn-primary btn-lg" data-reactid=".0.2.2.0.1.0.0.0.2"> Español </button></div></div></div></div></div></div></div></div>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- jQuery -->
  <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>

  <!-- Bootstrap -->
  <script>window.jQuery.fn.modal || document.write('<script src="/js/bootstrap.min.js"><\/script>')</script>
  <script>
      (function($) {
          $(function() {
              if ($('body').css('color') !== 'rgb(51, 51, 51)') {
                  $('head').prepend('<link rel="stylesheet" href="/css/bootstrap.min.css">');
              }
          });
      })(window.jQuery);
  </script>
</html>
